/*
Custom Css
*/

.row {
  justify-content: space-around;
}
.coso {
  text-align: center;
  transition: transform 0.7s ease-in-out;
  
}
.coso:hover{
  transform: scale(1.05);
}
.coso a{
  margin: 0px;
  padding: 0px;
}
.card {
    transition: transform 0.3s ease-in-out;
    border-radius: 30px; padding: 10px; border-color: #a92a47;
   
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 3px 6px #a92a47;
  }
  
.card:hover {
  transform: scale(1.05);
} 
/* Contenido de la card */

  
.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
  
  
  /* Botón de acción */
.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card li {
  
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.card li:hover {
  background-color: #e0e0e0;
}
.card h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.descripcion ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.descripcion li {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.descripcion li:last-child {
  border-bottom: none;
}

@media (max-width: 600px) {
  .descripcion {
      width: 100%;
  }
}
/* Estilo base del enlace */
.Vermas {
  color: #000000; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado predeterminado */
  transition: color 0.3s ease; /* Transición suave del color al pasar el ratón */
  text-align: center;
  
}

/* Cambia el color del enlace al pasar el ratón */
.Vermas a:hover {
  color: #0056b3;
}

.cardTransition {
  font-size: 24px;
  transition: font-size 0.2s;
}
.cardTransition:hover{
  font-size: 28px;
}
.enlace-cotizacion {
  background-color: #007bff; /* Azul eléctrico */
  color: #ffffff; /* Blanco */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #0056b3; /* Un azul un poco más oscuro para el borde */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra sutil */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.enlace-cotizacion:hover {
  background-color: #0056b3; /* Un azul un poco más oscuro para el hover */
  box-shadow: 0 6px 8px rgba(0,0,0,0.15); /* Sombra más pronunciada */
  transform: translateY(-2px); /* Efecto de levantamiento */
}
.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite a las tarjetas ajustarse y envolverse según el ancho de la pantalla */
  justify-content: space-around;
  gap: 20px; /* Espaciado entre tarjetas */
  margin: 20px;
}

.product-card {
  width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
  max-width: 400px; /* Máximo ancho de la tarjeta para evitar que sea demasiado grande */
  text-decoration: none;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: transform 0.2s ease-in-out;
}

.product-card img {
  width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
}

.product-card .card-content {
  padding: 15px; /* Espaciado interno para el contenido de la tarjeta */
}

.product-card:hover {
  transform: translateY(-5px); /* Efecto de elevación al hacer hover */
  color: #a92a47;
}

.product-card h3 {
  margin-top: 0;
}

.product-card p {
  margin-bottom: 0;
}

@media (min-width: 768px) { /* Tablets y pantallas más grandes */
  .product-card {
    width: 45%; /* Ajuste para que quepan dos tarjetas en una fila */
  }
}
@media (min-width: 1024px) { /* Desktops y pantallas más grandes */
  .product-card {
    width: 30%; /* Ajuste para que quepan tres tarjetas en una fila, dependiendo del espacio disponible */
  }
}