{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Productos{% endblock %}
{% block content %}



    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

           <!-- <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Combustibles
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Axion Energy</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Lubricantes
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Castrol tanto</a></li>
                            <li><a class="text-decoration-none" href="#">Castrol Tanto </a></li>
                        </ul>
                    </li>
                </ul>
            </div>-->

            <div class="col-lg-9">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class=" mb-4 product-wap rounded-0">
                            <div class=" rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{% static 'assets/img/productos/lubricante.png' %}">
                                
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Lubricante Castrol</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Tamaños/Litros</li>
                                </ul>
                                <p class="text-center mb-0">mas data</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" mb-4 product-wap rounded-0">
                            <div class=" rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{% static 'assets/img/productos/lubricante.png' %}">
                                
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Lubricante Castrol</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Tamaños/Litros</li>
                                </ul>
                                <p class="text-center mb-0">mas data</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" mb-4 product-wap rounded-0">
                            <div class=" rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{% static 'assets/img/productos/lubricante.png' %}">
                                
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Lubricante Castrol</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Tamaños/Litros</li>
                                </ul>
                                <p class="text-center mb-0">mas data</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" mb-4 product-wap rounded-0">
                            <div class=" rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{% static 'assets/img/productos/lubricante.png' %}">
                                
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Lubricante Castrol</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Tamaños/Litros</li>
                                </ul>
                                <p class="text-center mb-0">mas data</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" mb-4 product-wap rounded-0">
                            <div class=" rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{% static 'assets/img/productos/lubricante.png' %}">
                                
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Lubricante Castrol</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Tamaños/Litros</li>
                                </ul>
                                <p class="text-center mb-0">mas data</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class=" mb-4 product-wap rounded-0">
                            <div class=" rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{% static 'assets/img/productos/lubricante.png' %}">
                                
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">Lubricante Castrol</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Tamaños/Litros</li>
                                </ul>
                                <p class="text-center mb-0">mas data</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Trabajamos con las mejores marcas</h1>
                    <p>
                        
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                       
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">
                                    <!--Third slide-->
                                    <div class="carousel-item active">
                                        <div class="row" style="align-items: center;">
                                            <div class="col-3 p-md-5" >
                                                <a href="#"><img class="img-fluid brand-img" style="object-fit: cover; width: 100%; height: auto; max-width: 300px; max-height: 300px; " src="{% static 'assets/img/logo/Axion.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" style="object-fit: cover; width: 100%; height: auto; max-width: 70px; " src="{% static 'assets/img/logo/Castrol.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5" >
                                                <a href="#"><img class="img-fluid brand-img" style="object-fit: cover; width: 100%; height: auto; max-width: 300px; max-height: 300px; " src="{% static 'assets/img/logo/Axion.png' %}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" style="object-fit: cover; width: 100%; height: auto; max-width: 70px; " src="{% static 'assets/img/logo/Castrol.png' %}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->
                    </div>
                </div>
            </div>
        </div>
    </section>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


{% endblock  %}