{% extends 'layout/base.html' %}
{% load static %}{% load static %}
{% block content %}

<body>
    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">

                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="" style="text-align: center; margin: auto;">
                        <div class="card-body">

                            <h1 class="h2 text-success"><strong>Diesel X10</strong></h1>
                            <p class="h3 py-2"></p>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Linea:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Axion Energy</strong></p>
                                </li>
                            </ul>

                            <h6>Ficha tecnica:</h6>
                            <p>Es un Diesel con ultra bajo contenido en Azufre.</p>
                            <div class="descripcion">
                                <ul>
                                    <li>Compatible con Euro V apto para todo tipo de vehiculo diesel.</li>
                                    <li>Extiende la vida útil del motor hasta un 40%: protege las partes vitales del
                                        motor contra el desgaste.</li>
                                    <li>Disminuye las emisiones contaminantes en los vehículos.</li>
                                    <li>Número de cetano al nivel de los Premium Diésel del mercado. </li>
                                    <li>Contiene un paquete de aditivos que limpia y mantiene limpias las partes vitales
                                        del motor. </li>
                                    <li>Control de calidad garantizado.</li>
                                </ul>
                            </div>

                            <table class="table" style="margin-bottom: 10px;">

                                <thead>
                                    <tr>
                                        <th colspan="2" style="text-align: center;">Valores tipicos</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Contenido de la tabla -->

                                    <tr>

                                        <td>Densidad a 15/15 °C gr/ml 0,8450
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Azufre ppm 8
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Destilación 10% vol °C 220
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Destilacion 50% vol °C 280
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Destilacion 85% vol °C 340
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Punto de inflamación °C 75
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Viscosidad @40ºC Cst 3.200
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Poder calorífico superior Kcal/kg 10.800
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Poder calorífico superior Kcal/kg 10.200
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Número Cetano 54
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Índice Cetano 52
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Carbón Conradson Masa(%) &lt; 0,1
                                        </td>

                                    </tr>

                                    <tr>

                                        <td>Cenizas (ASTM D-482) Masa (%) &lt; 0,001</td>

                                    </tr>

                                </tbody>
                            </table>



                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row">
                                    <div class="col-auto">

                                    </div>
                                    <div class="col-auto">

                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit"
                                            value="buy">Pedir cotizacion</button>
                                    </div>
                                    <div class="col d-grid">
                                        <a href="/fichas_tecnicas/axion-diesel_Agro.pdf" download="">Ficha Técnica</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- Close Content -->


    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3
                }
            }
            ]
        });
    </script>
    <!-- End Slider Script -->
    {% endblock %}
</body>

</html>