{% load static %}
<section class="container py-5" style = 'align-items: center;'>
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1 text-success"><strong>Combustibles</strong></h1>
            <p>
                
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3 ">
            
            <div class="card">
                <h3 class="text-center mt-3 mb-3 h1" ><strong> Diesel x10 </strong><br><p>Gas Oil 10 PPM.</p></h3>
            
               <ul>
               <li>Es un Diésel con ultra bajo contenido de azufre.</li>
               <li>Compatible con Euro V apto para todo tipo de vehículo diésel.</li>
               <li>Extiende la vida útil del motor hasta un 40%: protege las partes vitales del motor contra el desgaste.</li>
               <li>Disminuye las emisiones contaminantes en los vehículos.</li>
               <a class="ver-mas" href="{% url 'producto' 1 %}" >Ver Más</a>
            </ul>
            <!-- <p class="text-center"><a class="btn btn-success">Pedir cotizacion!</a></p>
            <p class="text-center"><a class="btn btn-success">Ficha Tecnica</a></p> -->
            </div>
                     
        </div>
        
        <div class="col-12 col-md-4 p-5 mt-3 ">
            
            <div class="card">
                <h3 class="text-center mt-3 mb-3 h1" > <strong>Quantium  Diesel X10 </strong> <br><p>Gas Oil Grado 3.</p></h3>
            
               <ul>
               <li>Combustible de avanzada fórmula de limpieza y ultra bajo contenido de azufre, diseñado para evitar la pérdida de potencia provocada por 
                depósitos y para proteger las partes vitales del motor.</li>
               <li>Rinde más kilómetros por litro, logrando optimizar la relación entre potencia y consumo.</li>
               
            </ul>
            <!-- <p class="text-center"><a class="btn btn-success">Pedir cotizacion!</a></p>
            <p class="text-center"><a class="btn btn-success">Ficha Tecnica</a></p> -->
            </div>
            
            
        </div>
    </div>
</section>