{% load static %}
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Servicios</h1>
                <p>
                </p>
            </div>  
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="coso">
                    <a href="#">
                       <!-- <img src="{% static 'assets/img/productos/lubricante.png' %}" class="card-img-top" alt="...">-->
                    </a>
                    <div class="card-body">
                        
                        <a href="#" class="h2 text-decoration-none text-dark text-success"><strong>Soluciones para empresas </strong> </a>
                        <p class="card-text"> 
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="coso">
                    <a href="#">
                       <!-- <img src="{% static 'assets/img/productos/lubricante.png' %}" class="card-img-top" alt="...">-->
                    </a>
                    <div class="card-body">
                        
                        <a href="#" class="h2 text-decoration-none text-dark text-success"> <strong>Combustibles de primera calidad AXION </strong> </a>
                        <p class="card-text">
                        </p>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="coso">
                    <a href="#">
                       <!-- <img src="{% static 'assets/img/productos/lubricante.png' %}" class="card-img-top" alt="...">-->
                    </a>
                    <div class="card-body">
                        
                        <a href="#" class="h2 text-decoration-none text-dark text-success"> <strong>Toda la línea de lubricantes CASTROL  </strong>
                        </a>
                        <p class="card-text">
                        
                        </p>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="coso">
                    <a href="#">
                       <!-- <img src="{% static 'assets/img/productos/lubricante.png' %}" class="card-img-top" alt="...">-->
                    </a>
                    <div class="card-body">
                        
                        <a href="#" class="h2 text-decoration-none text-dark text-success"> <strong>Comercialización con sistema de 'Canje por granos de cereal'</strong>
                        </a>
                        <p class="card-text">
                        
                        </p>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="coso">
                    <a href="#">
                       <!-- <img src="{% static 'assets/img/productos/lubricante.png' %}" class="card-img-top" alt="...">-->
                    </a>
                    <div class="card-body">
                        
                        <a href="#" class="h2 text-decoration-none text-dark text-success"> <strong>Entrega en punto de demanda o retirando en nuestros depósitos.
                        </strong>
                        </a>
                        <p class="card-text">
                        
                        </p>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>